/vendor/
/node_modules/
/storage/*.key
/.env
/.idea
/.vscode
.DS_Store
docker-compose.override.yml
.env.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/debugbar
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/storage
